.HomeUpdate {
    /* width: 80%;
    margin: 0 auto; */
    height: 500px;

    background-image: url('../../component/images/homePage/mobileSection/TableWithOpenBible.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.UpdateHeader {
    text-align: center;
    color: #F2E5D5;
    padding-top: 60px;
    font-weight: 600;
    letter-spacing: 1px;
}

.UpdateFlex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 80%;

    padding-top: 50px;
    margin: 0 auto;
}

.UpdateDescHeader {
    color: #F2E5D5;
    font-size: 18px;
}

.UpdatePhoneMock {
    height: 300px;
}