.Community {
    width: 100vw;
    background-color: #F4EEE6;
}

.CommunityHero {
    /* background-color: #27272780; */
    background-image: url('../../component/images/community/CommunityHero.png');
    height: 550px;

    /* background-blend-mode: saturation; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.CommunityH2,
.CommunityHeader,
.CommunityH3 {
    color: white;
    text-align: center;
}

.CommunityHeader {
    margin-top: 70px;
    letter-spacing: 1px;
    font-size: 48px;
    font-weight: 400;
}

.CommunityHeader:last-of-type {
    margin-top: 5px;
}

.CommunityH2 {
    margin-top: 50px;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 16px;
}

.CommunityH3 {
    margin-top: 90px;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 14px;
}

.buttonContainer {
    display: flex;
    margin-top: 25px;
    gap: 25px;
}

.communityButton {
    background-color: #F4EEE6;
    padding: 12px 25px;
    border: none;
    box-shadow: inset 1px;
    color: black;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

