.DisplaySection {
    width: 680px;
    padding-top: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookChapterHeader {
    width: 100%;
    text-align: center;
}

.displayArea {
    padding-top: 30px;
    width: 80%;
    display: flex;
    justify-content: center;
}

.versesList {
    padding-bottom: 50px;
    list-style: none;
}

.verseRow {
    display: flex;
    align-items: flex-start;
    margin: 4px 0;
    line-height: 1.5;
}

.verseNumber {
    font-size: 0.8em;
    color: #4a90e2;
    margin-right: 6px;
    font-weight: bold;
}

.verseText {
    flex: 1;
    color: #222;
}