.DisplaySection {
    width: 680px;
    padding-top: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookChapterHeader {
    width: 100%;
    text-align: center;
}

.displayArea {
    padding-top: 30px;
    width: 80%;
    display: flex;
    justify-content: center;
}

.versesList {
  list-style: none;
  counter-reset: verse;
  padding-left: 0;
  padding-bottom: 200px;
}

/* verse padding -- subjected to change */
.versesList li {
  position: relative;
  padding-left: 0.5rem;
  padding-bottom: 20px;
  counter-increment: verse;
}

.versesList li::before {
  content: counter(verse);
  position: absolute;
  left: 0;
  top: -0.1em;  /* now this works */
  font-size: 0.5rem;
  color: #888;
  font-weight: 600;
}

.verseNumber {
    font-size: 0.8em;
    color: #4a90e2;
    margin-right: 6px;
    font-weight: bold;
}

.verseText {
    flex: 1;
    color: #222;
}