
.Header {
    /* background: linear-gradient(to right,#e6e7dd, #d3d4cb); */
    /* background: linear-gradient(to right,#0c0c0c, #0f0f0f); */
    /* background-color: #D3D3D3; */
    background-color: #C0C0C0 ;
    opacity: 90%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}