.MenuOptions {
    padding-right: 20px;
}

.MenuOptionList,
.MenuOptionListPage {
    display: inline-block;
    font-size: 12px;
    padding: 5px 15px;
    cursor: pointer;
    /* color: #8C6E4D; */
    opacity: 85%;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
}

.MenuOptionList {
    color: #0f0f0f;
}

.MenuOptionListPage {
    color: white;
}

.MenuOptionList a,
.MenuOptionList a:visited,
.MenuOptionListPage a,
.MenuOptionListPage a:visited {
    text-decoration: none;
}

.MenuOptionList a,
.MenuOptionList a:visited {
    color: #0f0f0f;
}

.MenuOptionListPage a,
.MenuOptionListPage a:visited {
    color: white;
}