.MenuOptions {
    padding-right: 20px;
}

.MenuOptionList {
    display: inline-block;
    font-size: 12px;
    padding: 5px 15px;
    cursor: pointer;
    /* color: #8C6E4D; */
    color: #0f0f0f;
    opacity: 85%;
}

.MenuOptionList a, .MenuOptionList a:visited {
    color: #0f0f0f;
    text-decoration: none;
}