
.BookVersionHolder {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #5f5e5e;
}

.Books, .Versions {
    position: relative;
    padding: 5px 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid #5f5e5e;
    margin-bottom: 30px;
}

.BookTabContainer, .VersionTabContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 200px;
    cursor: pointer;
}

.BookVersionHolder.isDisabled {
  opacity: 0.65;
}

.BookTabContainer.disabled,
.VersionTabContainer.disabled {
  pointer-events: none;
  cursor: not-allowed;
}


/* .Books:hover, .Versions:hover {
    border: 1px black solid;
    border-bottom: none;
} */
