.BookModal {
  position: absolute;
  left: 0;
  top: 28px;
  width: 500px;
  border: 1px solid black;
  border-top: none;
  background-color: rgb(255, 252, 252);
  z-index: 1000;
}

.ModalHeader {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  padding: 5px 5px;
  color: rgb(34, 34, 34);
  align-items: center;
  position: relative;
}

.ModalTitle,
.ModalExitButton {
  text-align: end;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.ModalTitle {
  font-size: 24px;
}

.ModalExitButton {
  font-size: 12px;
  cursor: pointer;
}

.ModalFilter {
  width: 100%;
  padding: 3px 5px;
}

.ModalFilterInput {
  width: 100%;
  color: rgb(34, 34, 34);
}

.ModalHidden {
  display: none;
}

.ModalDisplayList {
  height: 500px;
}

/*
  Book Modal
*/

.BookVersionBackButton {
  font-size: 20px;
  font-weight: 700;
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: absolute;
  left: 10px;
  background-color: transparent;
  border: none;
}

.BibleVersionRow {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  align-items: end;
  gap: 28px;
  width: 100%;
  justify-content: center;
}

.NotesSelectorSlot {
  display: flex;
  justify-content: flex-end;
}
