.bibleItem {
    list-style: none;
    padding: 15px 5px;
    color: rgb(34, 34, 34);
    cursor: pointer;
}

.bibleItem:hover {
    background-color: aliceblue;
}

/* .bibleItem p,
.bibleItem li {
    color: rgb(34, 34, 34);
    cursor: pointer;
} */