/*
    Fonts:     color: #8C6E4D;
    Background color: #0f0f0f
*/

.HomeBody {
    /* background-color: #0f0f0f; */
    /* background-color: #D3D3D3 ; */
    background-color: #C0C0C0;
}

.HomeHeader {
    width: 90%;
    padding-top: 20px;
    margin: 0 auto;
}

/*
    Home Body Cards CSS
*/

.HomeBodyCardContainer {
    margin: 0 auto;
    padding-top: 20px;
    width: 90%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.HBC {
    padding: 10px;
}

.HBC h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    /* color: #8C6E4D; */
    color: #0f0f0f;
    padding-bottom: 20px;
}

.HomeBodyCard {
    border: 1px solid;
    border-radius: 15px;
    min-height: 250px;
    overflow: hidden;
}

.HBCBody {
    padding: 15px;
}

.HomeBodyCard p {
    font-size: 12px;
    /* color: #8C6E4D; */
    color: #0f0f0f;
}

.CardImage {
    height: 100px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    padding: 0 5px;

    border-radius: 5px;
}

.CommunityCard {
    background-image: url('../../component/images/homePage/homeCards/Community.jpeg');
}

.ReadCard {
    background-image: url('../../component/images/homePage/homeCards/Bible.jpeg');
}

.StudyCard {
    background-image: url('../../component/images/homePage/homeCards/Study2.jpeg');
}

.AboutCard {
    background-image: url('../../component/images/homePage/homeCards/About.jpeg');
}